.App {
  text-align: center;
}

.app-background {
  background-color: #414855;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}